@model GameVM

@{
    ViewData["Title"] = Model.Title;
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Title</h1>
            <img src="/images/@Model.photo" alt="@Model.Title" class="img-fluid"/>
            <p>@Model.Description</p>
            <p><strong>Release Date:</strong> @Model.RelaseDate.ToShortDateString()</p>
            @if (Model.Iframe != null)
            {
                <div>
                    @Html.Raw(Model.Iframe)
                </div>
            }
            <p><strong>User Average Rating:</strong> @Model.UserAverageRating</p>
            <p><strong>Media Average Rating:</strong> @Model.MediaAverageRating</p>
            
            <h4>Categories</h4>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>@category</li>
                }
            </ul>
            
            <h4>Platforms</h4>
            <ul>
                @foreach (var platform in Model.Platforms)
                {
                    <li>@platform</li>
                }
            </ul>
        </div>
    </div>
</div>
