@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<CardVM>

@{
    ViewData["Title"] = "Games";

}

<style>



    .card-img-top {
        width: 100%;
        height: 400px;
        object-fit: fill;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        border-radius: 15px;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    .edit-button {
        background-color: cornflowerblue;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.75rem;
        cursor: pointer;
        border-radius: 0.25rem;
        position: absolute;
        top: 10px;
        right: 48px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .card:hover .edit-button {
        opacity: 1;
    }

    .delete-button {
        background-color: red;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.75rem;
        cursor: pointer;
        border-radius: 0.25rem;
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .card:hover .delete-button {
        opacity: 1;
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
</style>


<div class="container mt-5">
    <form method="get" asp-action="Index" class="d-flex justify-content-center">
        <div class="input-group mb-5 w-30">
            <input type="text" class="form-control" placeholder="Search for games" name="searchQuery" value="@ViewContext.HttpContext.Request.Query["searchQuery"]">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>




    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-4 mb-4 d-flex">
                <div class="card w-100">
                    <img src="/images/@game.photo" class="card-img-top" alt="@game.name">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-controller="Items" asp-action="Details" asp-route-id="@game.Id">@game.name</a>
                        </h5>
                        <p class="card-text">Puan: @game.Score</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-controller=Items asp-action="GameDelete" method="post">
                                <input type="hidden" name="id" value="@game.Id" />
                                <button type="submit" class="delete-button">X</button>
                            </form>
                            <form asp-controller=Items asp-action="EditGame" method="get">
                                <input type="hidden" name="id" value="@game.Id" />
                                <button type="submit" class="edit-button">Edit</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                     new PagedListRenderOptions
            {
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
                ActiveLiElementClass = "active"
            })
        </div>
    </div>
</div>
