@using HightScore.Entities.Model.Concrete
@model IEnumerable<MetaUser> 

<a class="btn btn-primary" asp-controller="CreateUser" asp-action="Index">Create User</a>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
             <tr>
                <td colspan="4" class="text-center">No users found...</td>
            </tr>
        }
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@user.Id" class=" btn btn-primary btn-sm">Edit</a>
                    <form action="Delete" method="post" onsubmit="confirm('Are you sure you want to delete the user?')" style="display:inline-block;">
                        <input type="hidden" value="@user.Id" name="id" />
                        <button type="submit" class=" btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>